.datagrid .datagrid-column .datagrid-column-title {
	text-align: center;
}
.row-nowrap {
    flex-wrap: nowrap; overflow-x: auto;
}
.vcd-info-style {
    border: none; margin: 5px 5px; min-width: 200px; flex-grow: 1;
    display: inline-block; white-space: nowrap;
    padding: 0 10px; line-height: 24px;
    color: #666666; font-family: 'Avenir-Book', 'Avenir Roman', 'Avenir';
}
.vcd-info-style b {
    font-weight: 400; font-style: normal; font-size: 14px;
}
.vcd-info-style span {
    color: #333;
}
.bottom-border {
    border-bottom: 1px solid gray;
}
@-webkit-keyframes change-twinkling-yellow {
    from {
        border-radius: 20px;
        width: 5px;
        height: 5px;
        background: -webkit-linear-gradient( 0deg, orange, #fff);
    }
    to {
        border-radius: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -8px;
        left: -8px;
        box-shadow: 0 0 20px #FF0088;
        background: -webkit-radial-gradient( #FFB6C1, #EEEE00, #DDDDFF);
    }
}
@-webkit-keyframes change-twinkling-green {
    from {
        border-radius: 20px;
        width: 5px;
        height: 5px;
        background: -webkit-radial-gradient( #EEEE00, green, #FF5809);
    }
    to {
        border-radius: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -8px;
        left: -8px;
        box-shadow: 0 0 20px blueviolet;
        background: -webkit-radial-gradient( #EEEE00, green, #FF5809);
    }
}
@-webkit-keyframes change-twinkling-pink {
    from {
        border-radius: 20px;
        width: 5px;
        height: 5px;
        background: -webkit-radial-gradient( #EEEE00, #D15FEE, #FF5809);
    }
    to {
        border-radius: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -8px;
        left: -8px;
        box-shadow: 0 0 20px greenyellow;
        background: -webkit-radial-gradient( #EEEE00, #D15FEE, #FF5809);
    }
}

.change-twink-yellow {
    -webkit-animation: change-twinkling-yellow 1s infinite ease-in-out;
}
.change-twink-green {
    -webkit-animation: change-twinkling-green 1s infinite ease-in-out;
}
.change-twink-pink {
    -webkit-animation: change-twinkling-pink 1s infinite ease-in-out;
}

@-webkit-keyframes change-twinkling-yellow2 {
    from {
        border-radius: 20px;
        width: 5px;
        height: 5px;
        background-image: url(./assets/images/block.png);
        /* background-size: cover; */
        opacity: 0.8;
        background-color: #fff;
        background-position: 1px 1px;
        background-size: 2px 2px;
    }
    to {
        border-radius: 30px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -10px;
        left: -10px;
        box-shadow: 0 0 20px #FF0088;
        background-image: url(./assets/images/block.png);
        /* background-size: cover; */
        opacity: 0.8;
        background-color: orange;
        background-repeat: no-repeat;
        background-position: 5px 4px;
        background-size: 20px 22px;
    }
}
@-webkit-keyframes change-twinkling-green2 {
    from {
        border-radius: 20px;
        width: 5px;
        height: 5px;
        background-image: url(./assets/images/block.png);
        /* background-size: cover; */
        opacity: 0.8;
        background-color: #fff;
        background-position: 1px 1px;
        background-size: 2px 2px;
   }
    to {
        border-radius: 30px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -10px;
        left: -10px;
        box-shadow: 0 0 20px blueviolet;
        background-image: url(./assets/images/block.png);
        /* background-size: cover; */
        opacity: 0.8;
        background-color: green;
        background-repeat: no-repeat;
        background-position: 5px 4px;
        background-size: 20px 22px;
    }
}
@-webkit-keyframes change-twinkling-pink2 {
    from {
        border-radius: 20px;
        width: 5px;
        height: 5px;
        background-image: url(./assets/images/block.png);
        /* background-size: cover; */
        opacity: 0.8;
        background-color: #fff;
        background-position: 1px 1px;
        background-size: 2px 2px;
    }
    to {
        border-radius: 30px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -10px;
        left: -10px;
        box-shadow: 0 0 20px greenyellow;
        background-image: url(./assets/images/block.png);
        /* background-size: cover; */
        opacity: 0.8;
        background-color: red;
        background-repeat: no-repeat;
        background-position: 5px 4px;
        background-size: 20px 22px;
    }
}

.change-twink-yellow2 {
    -webkit-animation: change-twinkling-yellow2 1s infinite ease-in-out;
}
.change-twink-green2 {
    -webkit-animation: change-twinkling-green2 1s infinite ease-in-out;
}
.change-twink-pink2 {
    -webkit-animation: change-twinkling-pink2 1s infinite ease-in-out;
}